In [22]:
import pandas as pd
import numpy as np
import requests
import json

import matplotlib.pyplot as plt
from scipy.stats import linregress

from pathlib import Path
from census import Census
from api_keys import census_key

In [2]:
CA_cases_per_100_path = Path("Datasets/CA_adults_with_diabetes_per_100.csv")
CA_cases_per_100_data = pd.read_csv(CA_cases_per_100_path)

In [3]:
CA_cases_per_100_data.head()

,Geography,Year,Strata,Strata Name,Percent,Lower 95% CL,Upper 95% CL,Standard Error
0,California,2018,Total population,Total population,10.4,8.9,11.9,0.8
1,California,2018,Race-Ethnicity,White,8.4,6.9,9.9,0.8
2,California,2018,Race-Ethnicity,African-American,12.3,6.0,18.6,3.2
3,California,2018,Race-Ethnicity,Asian,8.5,3.2,13.9,2.7
4,California,2018,Race-Ethnicity,Hispanic,12.1,9.0,15.1,1.6

In [4]:
FRED_PPIC_Diabetes_path = Path("Datasets/FRED_PPIC_Diabetes.csv")
FRED_PPIC_Diabetes_data = pd.read_csv(FRED_PPIC_Diabetes_path)

In [5]:
FRED_PPIC_Diabetes_data.head()

         DATE  WPU06380103
0  2009-12-01        100.0
1  2010-01-01         99.8
2  2010-02-01        102.4
3  2010-03-01        103.0
4  2010-04-01        103.0

In [6]:
OWID_diabetes_vs_gdp_path = Path("Datasets/OWID_diabetes-prevalence-vs-gdp-per-capita.csv")
OWID_diabetes_vs_gdp_data = pd.read_csv(OWID_diabetes_vs_gdp_path)

In [7]:
OWID_diabetes_vs_gdp_data.head()

,Entity,Code,Year,Diabetes prevalence (% of population ages 20 to 79),"GDP per capita, PPP (constant 2017 international $)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,2011,7.6,1961.0963,29249156.0,NaN
2,Afghanistan,AFG,2021,10.9,1516.3057,40099460.0,NaN
3,Afghanistan,AFG,2002,NaN,1280.4631,21000258.0,NaN
4,Afghanistan,AFG,2003,NaN,1292.3335,22645136.0,NaN

In [8]:
weekly_deaths_countries_path = Path("Datasets/Weekly_Counts_of_Death_by_Diabetes.csv")
weekly_deaths_countries_data = pd.read_csv(weekly_deaths_countries_path)

In [9]:
weekly_deaths_countries_data.head()

,Jurisdiction,Week Ending Date,State Abbreviation,Year,Week,Cause Group,Number of Deaths,Cause Subgroup,Time Period,Suppress,Note,Average Number of Deaths in Time Period,Difference from 2015-2019 to 2020,Percent Difference from 2015-2019 to 2020,Type
0,Alabama,01/10/2015,AL,2015,1,Alzheimer disease and dementia,120,Alzheimer disease and dementia,2015-2019,NaN,NaN,103,NaN,NaN,Predicted (weighted)
1,Alabama,01/10/2015,AL,2015,1,Alzheimer disease and dementia,120,Alzheimer disease and dementia,2015-2019,NaN,NaN,103,NaN,NaN,Unweighted
2,Alabama,01/09/2016,AL,2016,1,Alzheimer disease and dementia,76,Alzheimer disease and dementia,2015-2019,NaN,NaN,103,NaN,NaN,Predicted (weighted)
3,Alabama,01/09/2016,AL,2016,1,Alzheimer disease and dementia,76,Alzheimer disease and dementia,2015-2019,NaN,NaN,103,NaN,NaN,Unweighted
4,Alabama,01/07/2017,AL,2017,1,Alzheimer disease and dementia,96,Alzheimer disease and dementia,2015-2019,NaN,NaN,103,NaN,NaN,Predicted (weighted)

In [26]:
income_variable = "B19013_001E"
employment_employed_variable = "B23025_004E"
poverty_variable = "B17001_002E"
population_variable = "B01003_001E"

In [27]:
url = f"https://api.census.gov/data/2019/acs/acs5?get=NAME,{population_variable},{income_variable},{employment_employed_variable},{poverty_variable}&for=state:*&key={census_key}"

census_data = requests.get(url).json()
print(json.dumps(census_data, indent=4, sort_keys=True))

[
    [
        "NAME",
        "B01003_001E",
        "B19013_001E",
        "B23025_004E",
        "B17001_002E",
        "state"
    ],
    [
        "Alabama",
        "4876250",
        "50536",
        "2097384",
        "795989",
        "01"
    ],
    [
        "Alaska",
        "737068",
        "77640",
        "347774",
        "76933",
        "02"
    ],
    [
        "Arizona",
        "7050299",
        "58945",
        "3130658",
        "1043764",
        "04"
    ],
    [
        "Arkansas",
        "2999370",
        "47597",
        "1303490",
        "496260",
        "05"
    ],
    [
        "California",
        "39283497",
        "75235",
        "18591241",
        "5149742",
        "06"
    ],
    [
        "Colorado",
        "5610349",
        "72331",
        "2904589",
        "565873",
        "08"
    ],
    [
        "Delaware",
        "957248",
        "68287",
        "455620",
        "109400",
        "10"
    ],
    [
        "District of Columbia",
        "692683",
        "86420",
        "376871",
        "107140",
        "11"
    ],
    [
        "Connecticut",
        "3575074",
        "78444",
        "1815636",
        "344146",
        "09"
    ],
    [
        "Florida",
        "20901636",
        "55660",
        "9495353",
        "2870487",
        "12"
    ],
    [
        "Georgia",
        "10403847",
        "58700",
        "4834622",
        "1528558",
        "13"
    ],
    [
        "Idaho",
        "1717750",
        "55785",
        "792237",
        "221256",
        "16"
    ],
    [
        "Hawaii",
        "1422094",
        "81275",
        "680258",
        "130649",
        "15"
    ],
    [
        "Illinois",
        "12770631",
        "65886",
        "6250862",
        "1557873",
        "17"
    ],
    [
        "Indiana",
        "6665703",
        "56303",
        "3202509",
        "867996",
        "18"
    ],
    [
        "Iowa",
        "3139508",
        "60523",
        "1613902",
        "348122",
        "19"
    ],
    [
        "Kansas",
        "2910652",
        "59597",
        "1440453",
        "337739",
        "20"
    ],
    [
        "Kentucky",
        "4449052",
        "50589",
        "1978477",
        "747010",
        "21"
    ],
    [
        "Louisiana",
        "4664362",
        "49469",
        "2033758",
        "871467",
        "22"
    ],
    [
        "Maine",
        "1335492",
        "57918",
        "670417",
        "153131",
        "23"
    ],
    [
        "Maryland",
        "6018848",
        "84805",
        "3073886",
        "539991",
        "24"
    ],
    [
        "Massachusetts",
        "6850553",
        "81215",
        "3612375",
        "680962",
        "25"
    ],
    [
        "Michigan",
        "9965265",
        "57144",
        "4654930",
        "1398527",
        "26"
    ],
    [
        "Minnesota",
        "5563378",
        "71306",
        "2958615",
        "526065",
        "27"
    ],
    [
        "Mississippi",
        "2984418",
        "45081",
        "1235224",
        "585786",
        "28"
    ],
    [
        "Missouri",
        "6104910",
        "55461",
        "2916000",
        "810045",
        "29"
    ],
    [
        "Montana",
        "1050649",
        "54970",
        "512329",
        "134605",
        "30"
    ],
    [
        "Nebraska",
        "1914571",
        "61439",
        "999212",
        "206579",
        "31"
    ],
    [
        "Nevada",
        "2972382",
        "60365",
        "1406568",
        "384690",
        "32"
    ],
    [
        "New Hampshire",
        "1348124",
        "76768",
        "729701",
        "98682",
        "33"
    ],
    [
        "New Jersey",
        "8878503",
        "82545",
        "4422491",
        "869081",
        "34"
    ],
    [
        "New Mexico",
        "2092454",
        "49754",
        "888646",
        "392065",
        "35"
    ],
    [
        "New York",
        "19572319",
        "68486",
        "9498320",
        "2681277",
        "36"
    ],
    [
        "North Carolina",
        "10264876",
        "54602",
        "4764135",
        "1467591",
        "37"
    ],
    [
        "North Dakota",
        "756717",
        "64894",
        "402322",
        "78198",
        "38"
    ],
    [
        "Ohio",
        "11655397",
        "56602",
        "5595444",
        "1588343",
        "39"
    ],
    [
        "Oklahoma",
        "3932870",
        "52919",
        "1772123",
        "598373",
        "40"
    ],
    [
        "Oregon",
        "4129803",
        "62818",
        "1979043",
        "533527",
        "41"
    ],
    [
        "Pennsylvania",
        "12791530",
        "61744",
        "6199456",
        "1539183",
        "42"
    ],
    [
        "Rhode Island",
        "1057231",
        "67167",
        "533878",
        "125826",
        "44"
    ],
    [
        "South Carolina",
        "5020806",
        "53199",
        "2275531",
        "741650",
        "45"
    ],
    [
        "South Dakota",
        "870638",
        "58275",
        "443891",
        "110553",
        "46"
    ],
    [
        "Tennessee",
        "6709356",
        "53320",
        "3109872",
        "996930",
        "47"
    ],
    [
        "Texas",
        "28260856",
        "61874",
        "13253631",
        "4072194",
        "48"
    ],
    [
        "Vermont",
        "624313",
        "61973",
        "329028",
        "65652",
        "50"
    ],
    [
        "Utah",
        "3096848",
        "71621",
        "1497354",
        "298537",
        "49"
    ],
    [
        "Virginia",
        "8454463",
        "74222",
        "4156018",
        "865691",
        "51"
    ],
    [
        "Washington",
        "7404107",
        "73775",
        "3594279",
        "785244",
        "53"
    ],
    [
        "West Virginia",
        "1817305",
        "46711",
        "740910",
        "310044",
        "54"
    ],
    [
        "Wisconsin",
        "5790716",
        "61747",
        "2982359",
        "639160",
        "55"
    ],
    [
        "Wyoming",
        "581024",
        "64049",
        "288503",
        "62257",
        "56"
    ],
    [
        "Puerto Rico",
        "3318447",
        "20539",
        "1028513",
        "1449091",
        "72"
    ]
]

In [25]:
#for loop through years
#convert to dataframe